@media (min-width:320px) and (max-width:375px){
    .burger-bar{
        display: block;
        background-color: black;
        color: #fff;
        height: 25px;
        width: 25px;
        padding-left:5px;
        padding-top: 5px;
        border-radius: 50%;
    }
    .navigation{display: none;}
    .section-1{flex-direction: column-reverse;}
    .section-1-text{flex-direction: column-reverse;}
}
/* end header 320 */

    