@media (min-width:320px) and (max-width:488px){
    .burger-bar{
        display: block;
        background-color: black;
        color: #fff;
        height: 25px;
        width: 25px;
        padding-left:5px;
        padding-top: 5px;
        border-radius: 50%;
    }
    .navigation{display: none;}
    .section-1{ 
        margin-left: 55px;
    }
    .section-1-text{
        height: 97px;
        width: 324px;
        margin-left: 24px;
        margin-top: 120px;
        /* flex-direction: column-reverse; */
    }
    .medium-length{margin-top: 3px;
        font-size: 40px;
        font-family: 'Inter', sans-serif;
        font-family: Inter;
        font-weight: 900;
        line-height: 49px;
        letter-spacing: -1px;
        text-align: center;

    }
    .separated{
        height: 84px;
        width: 327px;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        margin: 24px 24px 24px 3px;
    }
    .button-one{
          height: 40px;
        width: 90px;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
        margin-left: 114px;
    }
    .black-block-header{
        margin-top: 35px;
        margin-bottom: 12px;
    }
    .five-people{
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        height: 56px;
        width: 327px;
        margin-top: -23px;
        font-family: 'Inter', sans-serif;
    }
    .img-section-1{
        height: 320px;
        width: 320px;
        margin-right: 9px;
        margin-top: 25px;
        border-radius: 12px;
        padding: 10px;
        margin-left: 55px;
    }
    .img-section1{
        border-radius: 12px;
        width:320px;
        height: 320px;
        margin-left:10px;
        margin-top:40px;
    }
    .future-one{
        height: 170px;
        width: 375px;
        left: 0px;
        padding-top: 10px;
        border-radius: 0px;
        padding: 24px;
    }
    .five{margin-top:2990px;}
    .main-div-container{
        margin-top: 50px;
        height: 610px;
        flex-direction: column-reverse;
    }
    .content-container{
        margin-left: 55px;
        margin-bottom: 10px;
    }
    .text-future{
        margin-left: 15px;
    }
    /* end section3 */
    .frame{
        height: 523px;
        width: 375px;
        left: 0px;
        top: 1205px;
        border-radius: 0px;
        padding: 24px;
    }
    .content-frame{
        flex-direction: column-reverse;
    }
    .img-2{
        height: 195px;
        width: 327px;
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       gap: 10px;
       margin-left:24px;
       margin-top: 24px;
    }
    .content-container-frame{
        height: 64px;
        width: 320px;
        margin-left: 11px;
        margin-top: 30px;
    }
    .h3-frame{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.1px;
        text-align: center;
        display: flex;
        align-items: center;
        text-align: center;
        height: 64px;
        width: 327px;
    }
    .p-frame{
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
        text-align: center;
        display: flex;
        align-items: center;
        text-align: center;
        height: 64px;
        width: 327px;
        margin-top: 14px;
    }
    .ul-frame{
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 64px;
        width: 327px;
        margin-top: 14px;

    }
    .content-frame18{
        height: 523px;
        width: 375px;
        left: 0px;
        top: 1205px;
        border-radius: 0px;
        padding: 24px;
        margin-left: -174px;
        margin-top: -24px;
    }
    /* end section3 */
    .frame22{
        height: 490px;
        width: 470px;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 64px;
        background-position: center;
    }
    .main-column{
        display: flex;
        flex-direction: row;
    }
    .collumn{
        height: 144px;
        width: 228px;
        left: 228px;
        top: 0px;
        border-radius: 0px;
        margin-top:16px;
        margin-left: -275px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .collumn-title{
        color: #FFFFFF;
        margin-bottom: 16px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
    }
    .ul-collumn{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        color: #c14444;
    }
    .logowhite{
        margin-top: -180px;
        margin-left: 80px;
        width: 100px;
    }
    .first-column{
        margin-left: 74px;
    }
    .hid{
        display: none;
    }
    .hide{
        margin-left: -85px;
        margin-right: 5px;
        padding-left: 50px;
        padding-right: 10px;
    }
    .second-column{
        margin-right: 75px;
    }
}
    /* end header 320 -375*/
    @media (min-width:1024px) and (max-width:1115px){
    .header-block{
        height: 96px;
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        padding: 24px;
        justify: space-between;
    }
    .navigation{
        margin-left: 95px;
    }
    .section-1{
        margin-top: 185px;
        margin-left: 70px;
        height: 348px;
        width: 940px;
        border-radius: 0px;
    }
    .button-one{height: 48px;
        width: 630px;
        left: 165px;
        top: 232px;
        border-radius: 0px;
        margin-left: -16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .img-section-1{
        margin-top: -85px;
        margin-left:295px;
        height: 490px;
        width:960px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-section1{
        margin-left: 35px;
        width: 100%;
    }
    .medium-length{
        height: 120px;
        width: 630px;
        font-family: Inter;
        font-size: 56px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: -1px;
        text-align: center;
    }
    .separated{
        height: 56px;
        width: 630px;
        left: 0px;
        top: 144px;
        border-radius: nullpx;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;

    }
    .main-div-container{
        height: 254px;
        width: 1090px;
        left: 0px;
        top: 958px;
        border-radius: 0px;
        padding: 39px 32px 39px 32px;

    }
    .one-fu{
        height: 176px;
        width: 279.3333435058594px;
        left: 32px;
        top: 39px;
        border-radius: 0px;
        margin-left: 12px;
    }
    .two{
        height: 176px;
        width: 279.3333435058594px;
        left: 32px;
        top: 39px;
        border-radius: 0px;
        margin-left: 12px;
    }
    .five{
        height: 176px;
        width: 279.3333435058594px;
        left: 32px;
        top: 39px;
        border-radius: 0px;
        margin-left: 12px;
    }
    .frame18{
        height: 895px;
        width: 1190px;
        left: 0px;
        top: 1212px;
        border-radius: 0px;
        display:     flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-frame{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-2{
        height: 550px;
        width: 960px;
        left: 32px;
        margin-top: -172px;
        border-radius: 12px;
    }
    .content-container-frame{
        height: 185px;
        width: 960px;
        margin-left: 152px;
        margin-top: 46px;
        border-radius: 0px;
    }
    .p-frame{
        height: 48px;
        width: 415.5px;
        border-radius: 0px;
        margin-left: 452px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.10000000149011612px;
        text-align: right;
        margin-top: -96px;
    }
    .ul-frame{
        text-align: right;
        display: flex;
        flex-direction: column;
        margin-right: 92px;
    }
    .h3-frame{
        height: 96px;
        width: 415.5px;
        left: 0px;
        top: 0px;
        border-radius: nullpx;
        font-family: Inter;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.10000000149011612px;
        text-align: left;
    }
    .frame22{
        height: 588px;
        width: 1024px;
        left: 0px;
        top: 2107px;
        border-radius: 0px;
        padding: 192px 450px 192px 450px;
    }
    .footer-div{
        height: 309px;
        width: 1024px;
        left: 0px;
        top: 2695px;
        border-radius: 0px;
        padding: 45px 32px 45px 32px;

    }
}
@media (min-width:980px) and (max-width:1023px){
    .section-1{
        margin-top: 185px;
        margin-left: 70px;
        height: 348px;
        width: 960px;
        border-radius: 0px;
    }
    .img-section-1{
        margin-top: -85px;
        margin-left:295px;
        height: 490px;
        width:960px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-section1{
        margin-left: 35px;
        width: 100%;
    }
    .main-div-container{
        height: 254px;
        width: 1010px;
        left: 0px;
        top: 958px;
        border-radius: 0px;
        padding: 39px 32px 39px 32px;

    }
    .one-fu{
        height: 176px;
        width: 279.3333435058594px;
        left: 32px;
        top: 39px;
        border-radius: 0px;
        margin-left: 12px;
    }
    .two{
        height: 176px;
        width: 279.3333435058594px;
        left: 32px;
        top: 39px;
        border-radius: 0px;
        margin-left: 12px;
    }
    .five{
        height: 176px;
        width: 279.3333435058594px;
        left: 32px;
        top: 39px;
        border-radius: 0px;
        margin-left: 12px;
    }
    .frame18{
        height: 895px;
        width: 1024px;
        left: 0px;
        top: 1212px;
        border-radius: 0px;
        display:     flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-frame{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-2{
        height: 550px;
        width: 960px;
        left: 32px;
        margin-top: -172px;
        border-radius: 12px;
    }
    .p-frame{
        height: 48px;
        width: 415.5px;
        border-radius: 0px;
        margin-left: 452px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.10000000149011612px;
        text-align: right;
        margin-top: -96px;
    }
    .ul-frame{
        text-align: right;
        display: flex;
        flex-direction: column;
        margin-right: 92px;
    }
    .h3-frame{
        height: 96px;
        width: 415.5px;
        left: 0px;
        top: 0px;
        border-radius: nullpx;
        font-family: Inter;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.10000000149011612px;
        text-align: left;
    }
    .content-container-frame{
        height: 185px;
        width: 960px;
        margin-left: 152px;
        margin-top: 46px;
        border-radius: 0px;
    }
    .frame22{
        height: 588px;
        width: 1024px;
        left: 0px;
        top: 2107px;
        border-radius: 0px;
        padding: 192px 450px 192px 450px;
    }
    .footer-div{
        height: 309px;
        width: 1024px;
        left: 0px;
        top: 2695px;
        border-radius: 0px;
        padding: 45px 32px 45px 32px;

    }
}
@media (min-width:981px) and (max-width:992px)
{
    .content-container-frame{
        height: 185px;
        width: 960px;
        margin-left: 112px;
        margin-top: 46px;
        border-radius: 0px;
    }
}
@media(min-width:980px) and (max-width:982px){
    .content-container-frame{
        height: 185px;
        width: 960px;
        margin-left: 90px;
        margin-top: 46px;
        border-radius: 0px;
    }
    .future-one{
        height: 170px;
        width: 100%;
        left: 0px;
        margin-top: 55px;
        border-radius: 0px;
        padding: 24px;
    }
    .five{margin-top:2990px;}
    .main-div-container{
        margin-top: 50px;
        height: 610px;
        flex-direction: column-reverse;
    }
    .content-container{
        margin-left: 300px;
        margin-bottom: 10px;
    }
    
}
@media(min-width:930px) and (max-width:979px){
    .content-container-frame{
        height: 185px;
        width: 960px;
        margin-left: 90px;
        margin-top: 46px;
        border-radius: 0px;
    }
    .future-one{
        height: 170px;
        width: 100%;
        left: 0px;
        margin-top: 55px;
        border-radius: 0px;
        padding: 24px;
    }
    .five{margin-top:2990px;}
    .main-div-container{
        margin-top: 50px;
        height: 610px;
        flex-direction: column-reverse;
        width:915px;
    }
    .content-container{
        margin-left: 300px;
        margin-bottom: 10px;
    }
    .section-1{
        margin-top: 185px;
        margin-left: 70px;
        height: 348px;
        width: 960px;
        border-radius: 0px;
    }
    .img-section-1{
        margin-top: -85px;
        margin-left:295px;
        height: 490px;
        width:960px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-section1{
        margin-left: 35px;
        width: 100%;
    }
    .frame18{
        height:744px;
        width: 917px;
        left: 0px;
        top: 1212px;
        border-radius: 0px;
        display:     flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-frame{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-2{
        height: 550px;
        width: 696px;
        margin-left: 192px;
        margin-top: -142px;
        border-radius: 12px;
    }
    .p-frame{
        height: 48px;
        width: 415.5px;
        border-radius: 0px;
        margin-left: 452px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.10000000149011612px;
        text-align: right;
        margin-top: -96px;
    }
    .ul-frame{
        text-align: right;
        display: flex;
        flex-direction: column;
        margin-right: -160px;
    }
    .h3-frame{
        height: 96px;
        width: 415.5px;
        left: 0px;
        top: 0px;
        border-radius: nullpx;
        font-family: Inter;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.10000000149011612px;
        text-align: left;
    }
    .content-container-frame{
        height: 290px;
        width: 696px;
        margin-left: 152px;
        margin-top: 16px;
        border-radius: 0px;
    }
    .frame22{
        height: 588px;
        width: 915px;
        border-radius: 0px;
        /* padding: 192px 450px 192px 450px; */
    }
    .footer-div{
        height: 309px;
        width: 915px;
        left: 0px;
        top: 2695px;
        border-radius: 0px;
        padding: 45px 32px 45px 32px;

    }
}
/* @media(max-width:898px){
    .navigation{
        display: flex;
        justify-content: center;
        margin-left: 460px;
    }
} */
@media(min-width:820px) and (max-width:930px){
    .content-container-frame{
        height: 185px;
        width: 960px;
        margin-left: 90px;
        margin-top: 46px;
        border-radius: 0px;
    }
    .future-one{
        height: 170px;
        width: 100%;
        left: 0px;
        margin-top: 55px;
        border-radius: 0px;
        padding: 24px;
    }
    .five{margin-top:2990px;}
    .main-div-container{
        margin-top: 50px;
        height: 610px;
        flex-direction: column-reverse;
        width:915px;
    }
    .content-container{
        margin-left: 300px;
        margin-bottom: 10px;
    }
    .section-1{
        margin-top: 185px;
        margin-left: 70px;
        height: 348px;
        width: 960px;
        border-radius: 0px;
    }
    .img-section-1{
        margin-top: -85px;
        margin-left:295px;
        height: 490px;
        width:960px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-section1{
        margin-left: 35px;
        width: 100%;
    }
    .frame18{
        height:744px;
        width: 917px;
        left: 0px;
        top: 1212px;
        border-radius: 0px;
        display:     flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-frame{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-2{
        height: 550px;
        width: 696px;
        margin-left: 192px;
        margin-top: -142px;
        border-radius: 12px;
    }
    .p-frame{
        height: 48px;
        width: 415.5px;
        border-radius: 0px;
        margin-left: 452px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.10000000149011612px;
        text-align: right;
        margin-top: -96px;
    }
    .ul-frame{
        text-align: right;
        display: flex;
        flex-direction: column;
        margin-right: -160px;
    }
    .h3-frame{
        height: 96px;
        width: 415.5px;
        left: 0px;
        top: 0px;
        border-radius: nullpx;
        font-family: Inter;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.10000000149011612px;
        text-align: left;
    }
    .content-container-frame{
        height: 290px;
        width: 696px;
        margin-left: 122px;
        margin-top: 16px;
        border-radius: 0px;
    }
    .frame22{
        height: 588px;
        width: 915px;
        border-radius: 0px;
        /* padding: 192px 450px 192px 450px; */
    }
    .footer-div{
        height: 309px;
        width: 915px;
        left: 0px;
        top: 2695px;
        border-radius: 0px;
        padding: 45px 32px 45px 32px;

    }
}
@media(max-width:900px){
    .content-container-frame{
        height: 290px;
        width: 656px;
        margin-left: 122px;
        margin-top: 16px;
        border-radius: 0px;
    }
    .p-frame{
        margin-left: 400px;
    }
}
@media(min-width:744px) and (max-width:819px){
    .content-container-frame{
        height: 185px;
        width: 960px;
        margin-left: 90px;
        margin-top: 46px;
        border-radius: 0px;
    }
    .future-one{
        height: 170px;
        width: 100%;
        left: 0px;
        margin-top: 55px;
        border-radius: 0px;
        padding: 24px;
    }
    .five{margin-top:2990px;}
    .main-div-container{
        margin-top: 50px;
        height: 610px;
        flex-direction: column-reverse;
        width:915px;
    }
    .content-container{
        margin-left: 300px;
        margin-bottom: 10px;
    }
    .section-1{
        margin-top: 185px;
        margin-left: 70px;
        height: 348px;
        width: 960px;
        border-radius: 0px;
    }
    .img-section-1{
        margin-top: -85px;
        margin-left:295px;
        height: 490px;
        width:960px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-section1{
        margin-left: 35px;
        width: 100%;
    }
    .frame18{
        height:744px;
        width: 917px;
        left: 0px;
        top: 1212px;
        border-radius: 0px;
        display:     flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-frame{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-2{
        height: 550px;
        width: 696px;
        margin-left: 192px;
        margin-top: -142px;
        border-radius: 12px;
    }
    .p-frame{
        height: 48px;
        width: 415.5px;
        border-radius: 0px;
        margin-left: 452px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.10000000149011612px;
        text-align: right;
        margin-top: -96px;
    }
    .ul-frame{
        text-align: right;
        display: flex;
        flex-direction: column;
        margin-right: -160px;
    }
    .h3-frame{
        height: 96px;
        width: 415.5px;
        left: 0px;
        top: 0px;
        border-radius: nullpx;
        font-family: Inter;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.10000000149011612px;
        text-align: left;
    }
    .content-container-frame{
        height: 290px;
        width: 696px;
        margin-left: 122px;
        margin-top: 16px;
        border-radius: 0px;
    }
    .frame22{
        height: 588px;
        width: 915px;
        border-radius: 0px;
        /* padding: 192px 450px 192px 450px; */
    }
    .footer-div{
        height: 309px;
        width: 915px;
        left: 0px;
        top: 2695px;
        border-radius: 0px;
        padding: 45px 32px 45px 32px;

    }
    .header-block{
        height: 96px;
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        padding: 24px;
        justify: space-between;
    }
    .navigation{
        margin-left: 95px;
    }
    .black-block-header{
        margin-top: -35px;
        margin-bottom: 12px;
        margin-left: 410px;
    }
    .section-1{
        margin-top: 185px;
        margin-left: 10px;
        height: 348px;
        width: 960px;
        border-radius: 0px;
    }
    .img-section-1{
        margin-top: -85px;
        margin-left:295px;
        height: 490px;
        width:960px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-section1{
        margin-left: 35px;
        width: 100%;
    }
    .button-one{
        height: 70px;
      width: 750px;
      border-radius: 32px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-left: -258px;
      margin-bottom:122px;
      margin-top:-20px ;
  }
  .margin{
    margin-top: 95px;
    margin-bottom: 12px;
    margin-left: -195px;
    }
    .five-people{
        width:796px;
        height: 128px;
        margin-top: 202px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
    
    }
}
@media(max-width:896px){
    .navigation{
        
    }
}