@media (min-width:320px) and (max-width:375px){
    .burger-bar{
        display: block;
        background-color: black;
        color: #fff;
        height: 25px;
        width: 25px;
        padding-left:5px;
        padding-top: 5px;
        border-radius: 50%;
    }
    .navigation{display: none;}
    .section-1{flex-direction: column-reverse;}
    .section-1-text{
        height: 97px;
        width: 324px;
        margin-left: 24px;
        margin-top: 120px;
    }
    .medium-length{margin-top: -400px;
        font-size: 40px;
        font-family: 'Inter', sans-serif;
        font-family: Inter;
        font-weight: 900;
        line-height: 49px;
        letter-spacing: -1px;
        text-align: center;

    }
    .separated{
        height: 84px;
        width: 327px;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        margin: 24px 24px 24px 3px;
    }
    .button-one{
          height: 40px;
        width: 90px;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
        margin-left: 114px;
    }
    .five-people{
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        height: 56px;
        width: 327px;
        margin-top: 16px;
        font-family: 'Inter', sans-serif;
    }
    .img-section-1{
        height: 309px;
        margin-left:24px;
        border-radius: 12px;
    }
    .future-one{
        height: 170px;
        width: 375px;
        left: 0px;
        padding-top: 10px;
        border-radius: 0px;
        padding: 24px;
    }
    .five{margin-top:2990px;}
    .main-div-container{
        height: 610px;
        flex-direction: column-reverse;
    }
    .content-container{
        margin-left: 55px;
        margin-bottom: 10px;
    }
    .text-future{
        margin-left: 15px;
    }
    /* end section3 */
    .frame{
        height: 523px;
        width: 375px;
        left: 0px;
        top: 1205px;
        border-radius: 0px;
        padding: 24px;
    }
    .content-frame{
        flex-direction: column-reverse;
    }
    .img-2{
        height: 195px;
        width: 327px;
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       gap: 10px;
       margin-left:24px;
       margin-top: 24px;
    }
    .content-container-frame{
        height: 64px;
        width: 320px;
        margin-left: 11px;
        margin-top: 30px;
    }
    .h3-frame{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.1px;
        text-align: center;
        display: flex;
        align-items: center;
        text-align: center;
        height: 64px;
        width: 327px;
    }
    .p-frame{
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
        text-align: center;
        display: flex;
        align-items: center;
        text-align: center;
        height: 64px;
        width: 327px;
        margin-top: 14px;
    }
    .ul-frame{
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.1px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 64px;
        width: 327px;
        margin-top: 14px;

    }
    .content-frame18{
        height: 523px;
        width: 375px;
        left: 0px;
        top: 1205px;
        border-radius: 0px;
        padding: 24px;
        margin-left: -174px;
        margin-top: -24px;
    }
}  
    /* end header 320 */

    