.header-block{
    height: 96px;
    width: 100%;
    max-width: 1440px;
    position: fixed;
    z-index: 50;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    width: 100%;
}
.burger-bar{
    display: none;
}
.flex-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-header{
    margin-left: 32px;
}
.navigation{
    flex-direction: row;
    align-items: center;
    height: 20px;
    width: 328%;
    max-width:328px;
    margin-right: 437px;
    display: block;
}
.black-block-header{
    margin-left: 644px;
    margin-top: -42px;
    background-color: black;
    color: White;
    font-size: 16px;
    height: 48px;
    width: 100px;
    border-radius: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-family: 'Inter-700';
}

.nav-ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    width: 328px;
}
.nav-li{
    height: 20px;
    width: 328px;
}
.nav-a{ 
    font-size:16px;
    font-family: 'Inter-400';
    /* position: relative; */
    color:black;
}
/* ak minda rom gamochndes xazi navigaciaze da ver gavaswore */
.nav-a::after{
    content:"";
    height: 12px;
    width: 0%;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.1s;
}
/* end header styles */
.section-1{
    height: 556px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
    margin-left: -280px;
}
.section-1-text{
    height: 288px;
    max-width: 490px;
    width: 100%;
}
.button-one{
    display: flex;
    align-items: center;
    padding-right: 34px;
    margin-top: 54px;
    justify-content: center;
}
.margin{
    margin-left:1px;
}
.medium-length{
    font-size:56px;
    color: black;
    font-family: 'Inter-600';
    margin-top: -120px;
    
}
.separated{
    font-size: 18px;
    color: black;
    font-family: 'Inter-300';
    margin-top: 24px;
    width:490px;
    line-height: 28px;
    height: 56px;
}
.five-people{
    color: black;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    padding-left: 20px;
    padding-top: -55px;
    font-family: 'Inter-600';
}
.img-section-1{
    max-width: 490px;
    width: 100%;
    margin-right: 120px;
    margin-top: -520px;
}
.img-section1{
    margin-top: -130px;
    margin-left: 695px;
}
/* end section1 */
.main-div-container{
    height: 256px;
    max-width: 1490px;
    width: 100%;
    left: 0px;
    margin-top: 14px;
    border-radius: 0px;
    padding: 64px 150px 64px 150px;
    background-color: rgb(208, 214, 212);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.future-one{
    height: 128px;
    width: 360px;
    margin-left:-80px;
    top: 64px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right:30px;
}
.two{
    margin-left: 55px;
    
} 
.five{
    margin-left: 75px;
}
.content-container{
    height: 40px;
    width: 360px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}
.title-future{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}
.text-future{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #000000;
    padding-left: 12px;
}
/* end section2 */
.frame18{
    height: 620px;
    max-width: 1440px;
    width: 100%;
    left: 0px;
    top: 908px;
    border-radius: 0px;
    padding: 96px 150px 96px 150px;
    background-color: #000000;
}
.content-frame18{
    height: 428px;
    width: 1140px;
    left: 150px;
    top: 96px;
    border-radius: 0px;
}
.content-container-frame{
    height: 120px;
    width: 503.5px;
    left: 0px;
    top: 144px;
    border-radius: 0px;
    margin-top: -340px;
    margin-left: 600px;

}
.h3-frame{
    font-family: 'Inter', sans-serif;
    width:503.5px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
}
.p-frame{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-top: 16px;
}
.ul-frame{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-top: 16px;
}
/* end section 3*/
.frame22{
    background-image: url(../photo/3.svg);
    height: 566px;
    max-width: 1440px;
    width: 100%;
    left: 0px;
    top: 1528px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* end section4 */
.footer-div{
    height: 336px;
    max-width: 1440px;
    width: 100%;
    left: 0px;
    top: 2094px;
    border-radius: 0px;
    padding: 96px 150px 96px 150px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logowhite{
    margin-top: -121px;
}
.collumn{
    height: 144px;
    width: 228px;
    left: 228px;
    top: 0px;
    border-radius: 0px;
    margin-top: -26px;
    margin-left: 8px;
}
.collumn-title{
    color: #FFFFFF;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.ul-collumn{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #c14444;
}
.hid{
    display: block;
}