.header-block{
    height: 96px;
    width: 1440%;
    max-width: 1440px;
    position: fixed;
    z-index: 50;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    width: 100%;
}
.flex-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-header{
    margin-left: 32px;
}
.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    width: 328%;
    max-width:328px;
    margin-right: 437px;
}
.black-block-header{
    margin-left: 224px;
    background-color: black;
    color: White;
    font-size: 16px;
    height: 48px;
    width: 100px;
    border-radius: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-family: 'Inter-700';
}

.nav-ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    width: 328px;
}
.nav-li{
    height: 20px;
    width: 328px;
}
.nav-a{ 
    font-size:16px;
    font-family: 'Inter-400';
    /* position: relative; */
    color:black;
}
/* ak minda rom gamochndes xazi navigaciaze da ver gavaswore */
.nav-a::after{
    content:"";
    height: 12px;
    width: 0%;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.1s;
}
/* end header styles */
.section-1{
    height: 556px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -160px;
}
.section-1-text{
    height: 288px;
    max-width: 490px;
    width: 100%;
    margin: 0 auto;
}
.button-one{
    display: flex;
    align-items: center;
    padding-right: 34px;
    margin-top: 44px;
}
.margin{
    margin-left:1px;
}
.medium-length{
    font-size:56px;
    color: black;
    font-family: 'Inter-600';
    margin-top: 230px;
}
.separated{
    font-size: 18px;
    color: black;
    font-family: 'Inter-300';
    margin-top: 24px;
    width:490px;
    line-height: 28px;
    height: 56px;
}
.five-people{
    color: black;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    padding-left: 20px;
    padding-top: 15px;
    font-family: 'Inter-600';
}
.img-section-1{
    max-width: 490px;
    width: 100%;
    margin-top: 360px;
    margin-right: 120px;
}
/* end section1 */
.main-div-container{
    height: 256px;
    max-width: 1140px;
    width: 80%;
    left: 0px;
    margin-top: 144px;
    border-radius: 0px;
    padding: 64px 150px 64px 150px;
    background-color: rgb(208, 214, 212);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.future-one{
    height: 128px;
    width: 360px;
    left: 150px;
    top: 64px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right:30px;
}
.content-container{
    height: 40px;
    width: 360px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}
.title-future{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}
.text-future{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #000000;
    padding-left: 12px;
}
/* end section2 */
